<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/pompeque2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionAndroi"
        tools:targetApi="31">
        <activity
            android:name=".CustomAdapter" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Intercambios"
            android:exported="true">

        </activity>
        <activity
            android:name=".Accesorios"
            android:exported="true">

        </activity>
        <activity
            android:name=".CompraVenta"
            android:exported="true">

        </activity>
        <activity
            android:name=".Regalos"
            android:exported="true">

        </activity>
        <activity
            android:name=".registro">
        </activity>
        <activity
            android:name=".inicioactivity">
        </activity>
        <activity
            android:name=".Mapa">
        </activity>
        <activity
            android:name=".Agregar">
        </activity>
        <activity
            android:name=".Gyroscope"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<service
    android:name="org.eclipse.paho.android.service.MqttService"
    android:exported="false"/>

    </application>

</manifest>